@font-face {
    font-family: 'Cisco Sans';
    src: url('CiscoSans.eot');
    src: local('Cisco Sans'), local('CiscoSans'),
        url('CiscoSans.eot?#iefix') format('embedded-opentype'),
        url('CiscoSans.woff2') format('woff2'),
        url('CiscoSans.woff') format('woff'),
        url('CiscoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
