@font-face {
    font-family: 'Mariupol';
    src: url('Mariupol-Regular.eot');
    src: url('Mariupol-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mariupol-Regular.woff2') format('woff2'),
        url('Mariupol-Regular.woff') format('woff'),
        url('Mariupol-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
