@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('GTEestiProDisplay.eot');
    src: url('GTEestiProDisplay.eot?#iefix') format('embedded-opentype'),
        url('GTEestiProDisplay.woff2') format('woff2'),
        url('GTEestiProDisplay.woff') format('woff'),
        url('GTEestiProDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
