@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('PFBagueSansPro.eot');
    src: local('PF Bague Sans Pro'), local('PFBagueSansPro-Hairline'),
        url('PFBagueSansPro.eot?#iefix') format('embedded-opentype'),
        url('PFBagueSansPro.woff2') format('woff2'),
        url('PFBagueSansPro.woff') format('woff'),
        url('PFBagueSansPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
